<!-- <div class="head ">
  <mat-toolbar >
    <h1 class="efficiency-header">Technical Efficiency</h1>
     <span class="example-spacer"></span>
    
    <button mat-icon-button class="example-icon" aria-label="Location">
      <mat-icon>location_on</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Notifications">
      <mat-icon>notifications</mat-icon> 
    </button>
   
    <button mat-icon-button aria-label="Account">
      <mat-icon>account_circle</mat-icon>
    </button>
  
  </mat-toolbar>
</div> -->


<!-- <mat-sidenav-content class="sidenav-content">
         
  <mat-toolbar class="toolbar" >
    <h1 class="efficiency-header">Technical Efficiency</h1>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Location">
        <mat-icon>location_on</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Notifications">
       <mat-icon>notifications</mat-icon> 
    </button>
    <button mat-icon-button aria-label="Account">
       <mat-icon>account_circle</mat-icon>
     </button>
 </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-content> -->




<!-- <div [ngClass]="getHeadClass()">
  
  <mat-toolbar class="toolbar" >
      <h1 class="efficiency-header">Technical Efficiency</h1>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Location">
          <mat-icon>location_on</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Notifications">
          <mat-icon>notifications</mat-icon> 
      </button>
      <button mat-icon-button aria-label="Account">
          <mat-icon>account_circle</mat-icon>
      </button>
  </mat-toolbar>

</div> -->



<div [ngClass]="getHeadClass()">
  
  <mat-toolbar class="toolbar" >
      <h1 class="efficiency-header">Technical Efficiency</h1>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Location">
          <mat-icon>location_on</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Notifications">
          <mat-icon>notifications</mat-icon> 
      </button>
      <button mat-icon-button aria-label="Account">
          <mat-icon>account_circle</mat-icon>
      </button>
  </mat-toolbar>

</div>



























































































































